---
---

// Breakpoints
$large-breakpoint: 80em;
$medium-breakpoint: 48em;

// Headers
$header-heading-color: #fff;
$header-bg-color: #248dc1;
$header-bg-color-secondary: #898b8e;
$section-headings-color: #248dc1;

// Text
$body-text-color: #63656a;
$body-link-color: #006098;
$blockquote-text-color: #898b8e;

// Code
$code-bg-color: #dedede;
$code-text-color: #323336;

body {
  font-family: "Myriad Pro", "Calibri", "PT Sans", sans-serif;
}

img.order-monitor-img {
  width: 75%;
}

img.mobile-tracker-img {
  height: 50%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Avenir Light", "Century Gothic", "Nunito", sans-serif;
  font-weight: normal;
}
.project-tagline {
  color: #ffffff;
}

.main-content {
  word-wrap: normal;
  margin: 5em;
  max-width: 80rem;
}
